html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #000;
    color: white;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #111;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.hero {
    padding: 120px 20px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    color: #aaa;
    margin: 20px 0;
}

.btn {
    padding: 12px 30px;
    background: white;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 80px 20px;
}

.dark {
    background: #111;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #1c1c1c;
    padding: 30px;
    border-radius: 15px;
    width: 200px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
.auth {
    position: absolute;
    right: 40px;
    top: 25px;
}

.login-btn, .signup-btn {
    margin-left: 15px;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 14px;
}

.login-btn {
    color: white;
}

.signup-btn {
    background: white;
    color: black;
    font-weight: bold;
}

.progress {
    background: #333;
    height: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.progress-bar {
    background: #06b6d4;
    height: 10px;
    border-radius: 10px;
}

.video-box {
    background: #1c1c1c;
    padding: 50px;
    border-radius: 15px;
    font-size: 20px;
}
footer {
    padding: 20px;
    background: #111;
    color: #aaa;
}

